//= require foundation_and_overrides
//= require foundation.min
//= require_tree .
//= require_self


.ui.message.red {
  margin-left: 69px;
  z-index: -9;
}

ul.title-area {
  z-index: 3;
}

//= require 'forem/base'
