title {
  color: white;
  font-family: 'Josefin Slab';
}

.location {
  color: white
}

[class*='col-'] {
  float: left;
  }
  .col-2-3 {
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 0px;
    width: 75%;
  }
  .col-1-3 {
    width: 25%;
  }

[class*='map-'] {
  float: left;
  }
  .map-1 {
    width: 5%;
  }
  .map-2 {
    width: 45%;
    padding-left: 200px;
  }
  .map-3 {
    width: 50%;
    padding-left: 200px;
  }

[class*="lat_long-"] {
  float: left;
  }
  .lat_long-1 {
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
  }
  .lat_long-2 {
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
  }

body {
  color: white;
  font-size: 130%;
  background-color: black;
  font-family: 'Sorts Mill Goudy';
  background: url("Swamp-house-blur4.jpg") no-repeat center center fixed;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Almendra Display';
}

h2 {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Josefin Slab'
}

h3 {
  color: white;
  font-family: 'Josefin Slab';
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-weight: bold;
}

h4 {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Almendra Display'
}

h5 {
  padding-left:1em;
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Josefin Slab';
  font-size: 110%;
}

h6 {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Josefin Slab'
}

.banner {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Almendra Display';
  font-size: 400%;
  font-weight: 550;
}

.sub_banner {
  color: white;
  text-shadow: 0px 0px 4px black,
  0px 0px 5px black;
  font-family: 'Josefin Slab';
  font-size: 100%;
  font-weight: 500;
}

.form_text {
  font-family: 'Josefin Slab';
  color: white;
  font-size: 110%;
}
