<h1> Spooky Spots! <h1> <div align="right"> This is the summary of this site </div>
<h6> Share Your Scares </h6>
<br>
<br>
<% @locations.each do |location| %>
  <h3><%= link_to location.name, location_path(location.id) %> - <%= location.town %>, <%= location.state %></h3>
<% end %>
