<h1> Spooky Spots! <h1>

  <ul class="accordion" data-accordion>
    <% @locations.each do |location| %>
    <li class="accordion-navigation">
      <a href="#panel1a"> <%= link_to location.name, location_path(location.id)%> </a>
      <div id="panel1a" class="content active">
        <%= location.description %>
      </div>
    </li>
  </ul>
<% end %>


<% @locations.each do |location| %>
  <h3><%= link_to location.name, location_path(location.id) %></h3>

  <div>&nbsp;</div>
<% end %>
